<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Mødt Ind</div>
                <ul class="list-group ">
                    <li class="list-group-item">
                        <div class="text-center">
                            <button class="btn btn-default" style="width: 160px">Maltbazaren Rødovre</button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="text-center">
                            <button class="btn btn-default" style="width: 160px">Maltbazaren Nørrebro</button>
                        </div>
                    </li>
                </ul>

        </div>
    </div>
</div>
